.textcontainer {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.page{
    background-color: #ADD8E6
}

button {
    padding: 20px 40px;
    font-size: 20px;
    border: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease;
    text-align: center;
}

.ja{
    background-color: #008000;
}

.nein{
    background-color: #FF0000;
}

.knöpfe{
    display: flex;
    justify-content: center
}